<h1>Editing Question</h1>

<%= render 'form', question: @question %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', questions_path %>


<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Editing Template Question <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>

  <%#= render 'form_question', template: @template %>
  <%= form_for(template, html: { class: 'item' }) do |f| %>
    <% if template.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

        <ul>
        <% template.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card card-block">
      <div class="form-group row">
        <label class="col-sm-2 form-control-label text-xs-right"> Name: </label>
        <div class="col-sm-10">
          <%= f.text_field :name, class: 'form-control boxed' %>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 form-control-label text-xs-right"> Program: </label>
        <div class="col-sm-10">
          <%= f.select :program,
                      options_for_select(@programs.pluck(:name, :id),
                      selected: @template.program_id),
                      class: 'c-select form-control boxed' %>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label text-xs-right"> Number Questions: </label>
        <div class="col-sm-10">
          <%= f.select :number_questions,
                      options_for_select((2..30), @template.number_questions),
                      class: 'c-select form-control boxed' %>

        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label text-xs-right"> Number Answers: </label>
        <div class="col-sm-10">
          <%= f.select :number_answers,
                      options_for_select((2..10), @template.number_answers),
                      class: 'c-select form-control boxed' %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-10 col-sm-offset-2">
          <%= f.submit 'Submit', class: 'btn btn-primary btn-submit' %>
        </div>
      </div>
    </div>

  <% end %>
</article>
