<% content_for :body_id, 'announcement' %>

<article class="content forms-page">

  <div class="title-block">
    <h1 class="title"> Announcements
    <%#= link_to 'Add New', new_ledger_path, class: 'btn btn-primary btn-sm rounded-s' %>
    </h1>
    <%#<p class="title-description"> When blocks aren't enough </p>%>
  </div>

  <p id="notice"><%= notice %></p>

  <section class="section">
      <div class="row sameheight-container">
        <div class="col-md-12">

    <div class="panel-body hidden" id="messages">
    </div>

        </div>

          <div class="col-md-6">
              <div class="card card-block sameheight-item">
                  <div class="title-block">
                      <h3 class="title"> New Announcement </h3>
                  </div>


                <%= render 'form', announcement: @announcement %>
              </div>
          </div>
          <div class="col-md-6">
              <div class="card card-block sameheight-item">
                  <div class="title-block">
                      <h3 class="title"> Previous Announcement </h3>
                  </div>

                  <table class="table">
                    <%#<thead>
                      <tr>
                        <th colspan="2"></th>
                      </tr>
                    </thead>%>

                    <tbody>
                      <% @announcements.each do |announcement| %>
                        <tr>
                          <td><%= announcement.publish.try(:strftime, "%B %d, %Y %H:%M") || 'NULL' %></td>
                          <td><%= announcement.description || 'NULL' %></td>
                          <td class="center-center"><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
                          <td class="center-center"><%= link_to 'Destroy', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </section>
</article>

