<div class="auth">
  <div class="auth-container">
    <div class="card">
      <header class="auth-header">
        <h1 class="auth-title">
          <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div>
          Clubloot Admin
        </h1>
      </header>
      <div class="auth-content">
        <p class="text-xs-center">SIGNIN TO CONTINUE</p>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { id: 'login_form'}) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Your email address', required: true %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Your password', required: true %>
          </div>
          <div class="form-group">

            <% if devise_mapping.rememberable? -%>
              <%= f.label :remember_me do %>
                <%= f.check_box :remember_me, class: 'checkbox' %>
                <span>Remember me</span>
              <% end %>
            <% end -%>
          </div>
          <div class="form-group">
            <%= f.submit "Sign in", class: 'btn btn-block btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
