<div class="row">
  <div class="col-xs-12">
    <p id="notice"><%= notice %></p>

    <h1>Templates</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Templates</th>
          <th colspan="3">OK</th>
        </tr>
      </thead>

      <tbody>
        <% @templates.each do |template| %>
          <tr>
            <td><%= template.inspect %></td>
            <td><%= link_to 'Show', template %></td>
            <td><%= link_to 'Edit', edit_template_path(template) %></td>
            <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Template', new_template_path %>
  </div>
</div>
