<!-- <div class="row">

  <div class="col-9">
    <p id="notice"><%= notice %></p>

    <h1>Templates</h1>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Templates</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @templates.each do |template| %>
          <tr>
            <td><%= template.inspect %></td>
            <td><%= link_to 'Show', template %></td>
            <td><%= link_to 'Edit', edit_template_path(template) %></td>
            <td><%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Template', new_template_path %>
  </div>
</div> -->

<article class="content items-list-page">
  <div class="title-search-block">
    <div class="title-block">
      <div class="row">
        <div class="col-md-6">
          <h3 class="title">
            Templates
            <%= link_to 'Add New', new_template_path, class: 'btn btn-primary btn-sm rounded-s' %>
          </h3>
        </div>
      </div>
    </div>
    <div class="items-search">
      <form class="form-inline">
        <div class="input-group">
          <input type="text" class="form-control boxed rounded-s" placeholder="Search for..."> <span class="input-group-btn">
          <button class="btn btn-secondary rounded-s" type="button">
          <i class="fa fa-search"></i>
          </button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="card items">
    <ul class="item-list striped">
      <li class="item item-list-header hidden-sm-down">
        <div class="item-row">
          <div class="item-col item-col-header item-col-title">
            <div> <span>Name</span> </div>
          </div>
          <div class="item-col item-col-header fixed item-col-actions-dropdown"> </div>
        </div>
      </li>

      <% @templates.each do |template| %>
        <li class="item">
          <div class="item-row">
            <div class="item-col fixed pull-left item-col-title">
              <div class="item-heading">Name</div>
              <div>
                <%= link_to template do %>
                  <h4 class="item-title">
                    <%= template.try(:name) || template._id %>
                  </h4>
                <% end %>
              </div>
            </div>

            <div class="item-col fixed item-col-actions-dropdown">
              <div class="item-actions-dropdown">
                <a class="item-actions-toggle-btn"> <span class="inactive">
                <i class="fa fa-cog"></i>
                </span> <span class="active">
                <i class="fa fa-chevron-circle-right"></i>
                </span> </a>
                <div class="item-actions-block">
                  <ul class="item-actions-list">
                    <li>
                      <%= link_to edit_template_path(template), class: 'edit' do %>
                        <i class="fa fa-pencil"></i>
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</article>
