<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Show Template <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>
  <%= link_to 'Back', templates_path, class: 'btn btn-primary btn-sm rounded-s' %>
  <div class="card card-block">

    <p>
      Name: <%= @template.name %>
    </p>
    <p>
      Questions: <%= @template.number_questions %>
    </p>
    <p>
      Answers: <%= @template.number_answers %>
    </p>
    <p>
      Start Time: <%= @template.start_time.try(:strftime, "%B %d, %Y %H:%M:%S") %>
    </p>
    <p>
      End Time: <%= @template.end_time.try(:strftime, "%B %d, %Y %H:%M:%S") %>
    </p>

    <%= link_to 'Edit Template', edit_template_path(@template) %>
  </div>

  <%= link_to 'Edit Questions & Answers', edit_all_template_questions_path(@template) %>
  <div class="card card-block">
    <% @template.questions.each_with_index do |question, question_index| %>
      <div class="row">
        <label class="col-sm-2 form-control-label text-xs-right"> Question: <%= question_index + 1 %> </label>
        <div class="col-sm-10">
          <%= question.name %>
        </div>
      </div>
      <% question.answers.each_with_index do |answer, answer_index| %>
        <div class="row">
          <div class="offset-sm-2 col-sm-9">
            <div class="form-group row">
              <label>
                <input class="radio"
                       name="question-<%= question._id %>"
                       type="radio"
                       value="<%= answer._id %>"
                       <%= 'checked' if question.is_correct.to_s == answer._id.to_s %>>
                <span><%= answer.name %></span>
              </label>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-9">
          <% if @template.active %>
            <div class="btn btn-primary btn-sm rounded-s pull-right"
                 onClick="answerQuestion('<%= @template._id %>', '<%= question._id %>')">
              Enter Question <%= question_index + 1 %>
            </div>
          <% else %>
            <div class="btn btn-primary btn-sm rounded-s pull-right disabled">
              End contest
            </div>
          <% end %>
        </div>
      </div>
      <hr />
    <% end %>
    <% if @template.active %>
      <div class="btn btn-primary btn-lg"
           onClick="endContest()">
        End contest
      </div>
    <% else %>
      <div class="btn btn-primary btn-lg disabled">
        End contest
      </div>
    <% end %>
  </div>
</article>

<script>

  function answerQuestion(template, question, answer){
    answer = $('input[name=question-'+ question +']:checked').val()
    if(answer == undefined){
      $.alert('Please select a answer of question!');
      return false;
    }

    $.confirm({
      title: 'Confirm!',
      // content: 'Simple confirm!',
      buttons: {
        confirm: function () {
          $.ajax({
            url: '/systems/templates/'+ template +'/questions/'+ question +'/answers/' + answer,
            type: 'PUT',
            success: function(result) {
              $.alert('Confirmed!');
            }
          });
        },
        cancel: function () {
          $.alert('Canceled!');
        },
      }
    });
  }

  function endContest(){

    $.confirm({
      title: 'Confirm!',
      // content: 'Simple confirm!',
      buttons: {
        confirm: function () {

          $.ajax({
            url: '<%= end_contest_template_path(@template, format: :json) %>',
            type: 'GET',
            success: function(result) {
              console.log(result)
              if(result.active) {
                $.alert('Error can not end contest!');
              }
              else {
                location.reload();
              }
            },
            error: function(result) {
              $.alert('Error can not end contest!');
            }
          });
        },
        cancel: function () {
          $.alert('Canceled!');
        },
      }
    });
  }

</script>


<style>
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
</style>
