
<article class="content responsive-tables-page">

  <div class="title-block">
    <h1 class="title"> User Tables
    <%= link_to 'Add New', new_user_path, class: 'btn btn-primary btn-sm rounded-s' %>
    </h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <section class="example">
              <div class="table-flip-scroll">
                <table class="table table-bordered table-hover flip-content">
                  <thead class="flip-header">
                    <tr>
                      <th>Username</th>
                      <th>Email</th>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Balance</th>
                      <th colspan="3">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @users.each do |user| %>
                      <tr>
                        <td><%= user.email %></td>
                        <td><%= user.username %></td>
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>
                        <td>
                          <span>
                            <%= user.coins %>
                            <i class="fa fa-money" aria-hidden="true"></i>
                          </span>
                          <span style="color: #951111">
                            <%= user.rubies %>
                            <i class="fa fa-diamond" aria-hidden="true"></i>
                          </span>
                          <span style="color: #2A4C7A">
                            <%= user.sapphires %>
                            <i class="fa fa-diamond" aria-hidden="true"></i>
                          </span>
                          <span style="color: #758F42">
                            <%= user.emeralds %>
                            <i class="fa fa-diamond" aria-hidden="true"></i>
                          </span>
                          <span style="color: #9F9B93">
                            <%= user.diamonds %>
                            <i class="fa fa-diamond" aria-hidden="true"></i>
                          </span>
                        </td>
                        <td><%= link_to 'Show', user %></td>
                        <td><%= link_to 'Edit', edit_user_path(user) %></td>
                        <td><%= link_to 'Suspend', user, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                    <tr>
                      <td colspan="7"><%= paginate @users %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
