<% content_for :body_id, 'prizes' %>

<article class="content forms-page">

  <div class="title-block">
    <h1 class="title"> Prizes </h1>
  </div>

  <p id="notice"><%= notice %></p>

  <section class="section">
    <div class="row sameheight-container">
      <div class="col-md-12">
        <div class="panel-body hidden" id="messages"></div>
      </div>
      <div class="col-md-6">
        <div class="card card-block sameheight-item">
          <table class="table">
            <thead>
              <tr>
                <th>Date Time</th>
                <th>Prize</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <% @prizes_pending.each do |prizes| %>
                <tr>
                  <td><%= prizes.created_at.try(:strftime, "%B %d, %Y %H:%M") %></td>
                  <td><%= prizes.prize.name %></td>
                  <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#exampleModalLong"
                            data-id="<%= prizes.id %>">
                      Complete
                    </button>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card card-block sameheight-item">
          <table class="table">
            <thead>
              <tr>
                <th>Ship Date Time</th>
                <th>Prize</th>
                <th>Tracking #</th>
                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <% @prizes_completed.each do |prizes| %>
                <tr>
                  <td><%= prizes.shipped_at.try(:strftime, "%B %d, %Y %H:%M") %></td>
                  <td><%= prizes.prize.name %></td>
                  <td><%= prizes.id %></td>
                  <td><%= prizes.status %></td>
               </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</article>




<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Tracking code</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <input type="hidden" id="userPrizeId">
          <input type="hidden" id="userPrizePath" value="<%= user_prize_complete_path %>">
          <div class="form-group">
            <label for="tracking_code">Tracking Code</label>
            <input type="text" class="form-control" id="tracking_code" aria-describedby="emailHelp" placeholder="Tracking Code">
            <%#<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>%>
          </div>
          <div class="form-group">
            <label for="carrier">Carrier</label>
            <input type="text" class="form-control" id="carrier" aria-describedby="emailHelp" placeholder="Carrier">
            <%#<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>%>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitPrize">Save changes</button>
      </div>
    </div>
  </div>
</div>
