
<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Show User <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>

  <% if @user.contests.present? %>
    <%= link_to 'Contests', user_contests_path(@user), class: 'btn btn-primary btn-sm rounded-s' %>
  <% else %>
    <button class="btn btn-primary btn-sm rounded-s disabled">Contests</button>
  <% end %>

  <% if @user.winners.present? %>
    <%= link_to 'Winners', user_winners_path(@user), class: 'btn btn-primary btn-sm rounded-s' %>
  <% else %>
    <button class="btn btn-primary btn-sm rounded-s disabled">Winners</button>
  <% end %>

  <%= link_to 'Transactions', user_transactions_path(@user), class: 'btn btn-primary btn-sm rounded-s' %>
  <%= link_to 'Prizes', user_prizes_path(@user), class: 'btn btn-primary btn-sm rounded-s' %>

  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary btn-sm rounded-s' %>
  <%= link_to 'Back', users_path, class: 'btn btn-primary btn-sm rounded-s' %>
  <p>
    Name: <%= @user.name %>
  </p>
  <p>
    username: <%= @user.username %>
  </p>
  <p>
    emai: <%= @user.email %>
  </p>
  <p>
    first_name: <%= @user.first_name %>
  </p>
  <p>
    last_name: <%= @user.last_name %>
  </p>
  <p>
    billing_address: <%= @user.billing_address %>
  </p>
  <p>
    billing_city: <%= @user.billing_city %>
  </p>
  <p>
    billing_state: <%= @user.billing_state %>
  </p>
  <p>
    billing_zipcode: <%= @user.billing_zipcode %>
  </p>
  <p>
    diamonds: <%= @user.diamonds %>
  </p>
  <p>
    emeralds: <%= @user.emeralds %>
  </p>
  <p>
    sapphires: <%= @user.sapphires %>
  </p>
  <p>
    rubies: <%= @user.rubies %>
  </p>
  <p>
    coins: <%= @user.coins %>
  </p>
  <p>
    promo_code: <%= @user.promo.try(:code) %>
  </p>
</article>
