
<article class="content responsive-tables-page">
  <p id="notice"><%= notice %></p>

  <div class="title-block">
    <h1 class="title"> Winner Tables </h1>
  </div>
  <%= link_to 'Back', user_path(@user), class: 'btn btn-primary btn-sm rounded-s' %>
  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">

            <section class="example">
              <div class="table-flip-scroll">
                <table class="table table-bordered table-hover flip-content">
                  <thead class="flip-header">
                    <tr>
                      <th>Contest name</th>
                      <th>Players</th>
                      <th>Fee</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @winners.each do |winner| %>
                      <tr>
                        <td><%= link_to winner.name,
                                      "http://alpha.clubloot.com/contest/program/#{winner.template.program.id}/#{winner.id}",
                                      target: '_blank' %></td>
                        <td><%= winner.players.count %> users</td>
                        <td><%= winner.fee %></td>
                        <td><%= @user.username %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

</article>
