
<article class="content responsive-tables-page">
  <p id="notice"><%= notice %></p>

  <div class="title-block">
    <h1 class="title"> User Tables
    <%= link_to 'Add New', new_user_path, class: 'btn btn-primary btn-sm rounded-s' %>
    </h1>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">

            <section class="example">
              <div class="table-flip-scroll">
                <table class="table table-bordered table-hover flip-content">
                  <thead class="flip-header">
                    <tr>
                      <th>Contest name</th>
                      <th>Players</th>
                      <th>Fee</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @winners.each do |winner| %>
                      <tr>
                        <td><%= winner.name %></td>
                        <td><%= winner.players.count %> users</td>
                        <td><%= winner.fee %></td>
                        <td><%= @user.username %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
