<p id="notice"><%= notice %></p>

<h1>Ledgers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ledgers.each do |ledger| %>
      <tr>
        <td><%= link_to 'Show', ledger %></td>
        <td><%= link_to 'Edit', edit_ledger_path(ledger) %></td>
        <td><%= link_to 'Destroy', ledger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ledger', new_ledger_path %>
