
<article class="content responsive-tables-page">

  <div class="title-block">
    <h1 class="title"> Promo Tables
    <%= link_to 'Add New', new_promo_path, class: 'btn btn-primary btn-sm rounded-s' %>
    </h1>
    <%#<p class="title-description"> When blocks aren't enough </p>%>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-block">
            <div class="card-title-block">
              <h3 class="title"> Promo </h3>
            </div>
            <section class="example">
              <div class="table-flip-scroll">
                <table class="table table-bordered table-hover flip-content">
                  <thead class="flip-header">
                    <tr>
                      <th>Code</th>
                      <th>Quantity</th>
                      <th>Bonus</th>
                      <th>Expires</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @promos.each do |promo| %>
                      <tr>
                        <td><%= promo.code %></td>
                        <td><%= promo.quantity %></td>
                        <td>
                          <%= promo.bonus %> <%= currency_icon(promo.currency_unit) %>
                        </td>
                        <td><%= promo.expires_at.try(:strftime, "%B %d, %Y") %></td>
                        <td><%= link_to 'Show', promo %></td>
                        <td><%= link_to 'Edit', edit_promo_path(promo) %></td>
                        <td><%= link_to 'Destroy', promo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
