
<article class="content item-editor-page">
  <div class="title-block">
    <h3 class="title">
      Show Prize <span class="sparkline bar" data-type="bar"></span>
    </h3>
  </div>


  <p>
    Name: <%= @prize.name %>
  </p>
  <p>
    Picture: <%= image_tag @prize.attachment, width: 120, height: 120 %>
  </p>
  <p>
    Price: <%= @prize.price %>
  </p>
  <p>
    Quantity: <%= @prize.quantity - @prize.users.count %> / <%= @prize.quantity %>
  </p>
  <p>
    Description: <pre><%= @prize.description %></pre>
  </p>
  <%= link_to 'Edit', edit_prize_path(@prize), class: 'btn btn-primary btn-sm rounded-s' %>
  <%= link_to 'Back', prizes_path, class: 'btn btn-primary btn-sm rounded-s' %>
</article>



<article>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-block sameheight-item">
            <table class="table">
              <thead>
                <tr>
                  <th>Email</th>
                  <th>Username</th>
                </tr>
              </thead>

              <tbody>
                <% @user_pending.each do |x| %>
                  <tr>
                    <td><%= x.user.email %></td>]
                    <td><%= x.user.username %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-block sameheight-item">
            <table class="table">
              <thead>
                <tr>
                  <th>Email</th>
                  <th>Username</th>
                </tr>
              </thead>

              <tbody>
                <% @user_completed.each do |x| %>
                  <tr>
                    <td><%= x.user.email %></td>]
                    <td><%= x.user.username %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
