<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <div class="brand">
        <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div>
        Clubloot
      </div>
    </div>
    <nav class="menu">
      <ul class="nav metismenu" id="sidebar-menu">
        <li class="active">
          <a href="#">
            <%#= link_to dashboard_path do %>
              <i class="fa fa-dashboard"></i> Dashboard
            <%# end %>
          </a>
        </li>
        <li>
          <%= link_to announcements_path do %>
            <i class="fa fa-bullhorn"></i> Announcements
          <% end %>
        </li>
        <li>
          <%= link_to ledgers_path do %>
            <i class="fa fa-money"></i> Ledgers
          <% end %>
        </li>
        <li>
          <%= link_to prizes_path do %>
            <i class="fa fa-bookmark"></i> Prizes
          <% end %>
        </li>
        <li>
          <a href="#"> <i class="fa fa-th-large"></i> Programming <i class="fa arrow"></i> </a>
          <ul>
            <li> <%= link_to "Programs", programs_path %> </li>
            <li> <%= link_to "Templates", templates_path %> </li>
          </ul>
        </li>
        <li>
          <a href="#"> <i class="fa fa-group"></i> Users <i class="fa arrow"></i> </a>
          <ul>
            <li> <%= link_to "List", templates_path %> </li>
            <li> <%= link_to "Winners", templates_path %> </li>
            <li> <%= link_to "Subscribe", templates_path %> </li>
          </ul>
        </li>
        <li>
          <a href="#"> <i class="fa fa-rocket"></i> Loot <i class="fa arrow"></i> </a>
          <ul>
            <li> <%= link_to "Daily Loot", templates_path %> </li>
            <li> <%= link_to "Free Loot", templates_path %> </li>
          </ul>
        </li>
        <li>
          <%= link_to prizes_path do %>
            <i class="fa fa-bookmark"></i> Gems
          <% end %>
        </li>
        <li>
          <%= link_to prizes_path do %>
            <i class="fa fa-dollar"></i> Taxes
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</aside>
